/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
}

input:checked + div {
    @apply border-blue-500;
}

input:checked + div svg {
    @apply block;
}